@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nav-link {
    @apply block py-2 px-4  rounded-xl hover:bg-gray-100 lg:hover:bg-transparent lg:border-0 lg:hover:font-semibold lg:p-0;
  }

  .brand-img {
    @apply p-3 w-36 h-auto sm:w-auto hover:opacity-85;
  }

  .destination-card-body {
    @apply relative p-1 pb-4 m-4 flex flex-col gap-4 bg-zinc-50 hover:bg-zinc-100 backdrop-blur-2xl hover:backdrop-blur-3xl rounded-3xl shadow-lg;
  }

  .destination-card-content {
    @apply absolute right-4 top-5 flex bg-black backdrop-blur-sm bg-opacity-10 items-center w-fit px-2 py-1 rounded-full xl:text-xl xl:px-3;
  }

  .carousel-card-btn {
    @apply delay-75 text-sm sm:text-base md:text-sm px-5 py-2 m-2 md:px-4 md:py-2 lg:mx-0 lg:px-2 lg:py-0 xl:m-2 xl:py-3 xl:px-4 rounded-full text-white font-medium bg-indigo-500 drop-shadow-xl hover:bg-indigo-400 active:bg-indigo-600 active:drop-shadow-lg;
  }

  .paragraph-text {
    @apply text-base text-slate-600 2xl:text-lg;
  }

  .bold-pink-heading {
    @apply font-bold text-pink-400 text-2xl md:text-3xl;
  }
}
